src/flows/Assign_AE_via_deli_ticket.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Found_Next_Up</name>
        <label>Found Next Up?</label>
        <locationX>282</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Find_oldest_punch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Returned</defaultConnectorLabel>
        <rules>
            <name>Yes_found_next_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentTicket.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Current_Ticket_AE_to_lead</targetReference>
            </connector>
            <label>Yes, found next up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Next_Up_Ticket</name>
        <label>Update Next Up Ticket</label>
        <locationX>927</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Find_Next_Up_Ticket_Number_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Higher_Ticket_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewNextUpTicket.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_AE_1</targetReference>
            </connector>
            <label>Found Higher Ticket Number</label>
        </rules>
    </decisions>
    <interviewLabel>Assign AE via deli ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign AE via deli ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Next_Up_Ticket</name>
        <label>Find Next Up Ticket (1)</label>
        <locationX>789</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Next_Up_Ticket</targetReference>
        </connector>
        <filters>
            <field>Active_AE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Number__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varCurrentTicket.Ticket_Number__c</elementReference>
            </value>
        </filters>
        <object>Deli_Ticket__c</object>
        <outputReference>varNewNextUpTicket</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Ticket_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Next_Up_ticket_holder</name>
        <label>Find &quot;Next Up&quot; Deli Ticket</label>
        <locationX>158</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Next_Up</targetReference>
        </connector>
        <filters>
            <field>Active_AE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Up__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Deli_Ticket__c</object>
        <outputReference>varCurrentTicket</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Ticket_Number__c</queriedFields>
        <sortField>Ticket_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Next_Up_Ticket_Number_2</name>
        <label>Find Next Up Ticket Number (2)</label>
        <locationX>1169</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Next_Up_AE_2</targetReference>
        </connector>
        <filters>
            <field>Active_AE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Number__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>varNewNextUpTicket.Ticket_Number__c</elementReference>
            </value>
        </filters>
        <object>Deli_Ticket__c</object>
        <outputReference>varNewNextUpTicket</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Ticket_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_oldest_punch</name>
        <label>Find oldest punch date</label>
        <locationX>299</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Current_Ticket_AE_to_lead</targetReference>
        </connector>
        <filters>
            <field>Active_AE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Deli_Ticket__c</object>
        <outputReference>varCurrentTicket</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Ticket_Number__c</queriedFields>
        <sortField>Last_Ticket_Punched__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Add_Current_Ticket_AE_to_lead</name>
        <label>Add Current Ticket AE to lead</label>
        <locationX>467</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Punch_Current_Ticket</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assign_AE_Checkbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_AE__c</field>
            <value>
                <elementReference>varCurrentTicket.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Punch_Current_Ticket</name>
        <label>Punch Current Ticket</label>
        <locationX>624</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Find_Next_Up_Ticket</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentTicket.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Ticket_Punched__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Up__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Deli_Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_AE_1</name>
        <label>Update Next AE (1)</label>
        <locationX>1168</locationX>
        <locationY>179</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewNextUpTicket.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Up__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Deli_Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Up_AE_2</name>
        <label>Update Next Up AE (2)</label>
        <locationX>1361</locationX>
        <locationY>372</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Next_Up_Ticket_Number_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Up__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Deli_Ticket__c</object>
    </recordUpdates>
    <startElementReference>Find_Next_Up_ticket_holder</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCurrentTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Deli_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varNewNextUpTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Deli_Ticket__c</objectType>
    </variables>
</Flow>
